In [1]:
import pandas as pd

In [21]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Q1 .Create a Pandas that contains the followings data : 4,8,15,16,23 and 42 , then print the series ?

In [12]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2 . Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
my_list = [1,2,3,4,5,"Nikhil" ,231.565,"Kumar","True","False"]

In [8]:

series = pd.Series(my_list)
print(series)

0          1
1          2
2          3
3          4
4          5
5     Nikhil
6    231.565
7      Kumar
8       True
9      False
dtype: object

Q3 . Create a Pandas DataFrame that contains the following data: then print the data frame ?

In [13]:
# Create a data using dictionary
data = {"Nmae":["Alice", "Bob", "Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male", "Female"]

}

#creating a dataframe from dictionary
df = pd.DataFrame(data)

#print dataframe
print(df)

     Nmae  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4 .What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
# Data frame
In Pandas, a DataFrame is a two-dimensional table-like data structure, where each column can have a different data type.
It can be thought of as a collection of Pandas Series, where each column represents a Series.
# Series
On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. 
It can be thought of as a single column of data in a DataFrame.

In [17]:
# Data Frame Example 
data = {"Nmae":["Alice", "Bob", "Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male", "Female"]

}

df = pd.DataFrame(data)
print(df)


# Exampl of series

Age_Series =df["Age"]
print(Age_Series)

     Nmae  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
1. head(): This function is used to display the first few rows of the DataFrame. It is useful for quickly inspecting the data.
 Ex : df = pd.read_csv('data.csv')
      df.head()

        
2. tail(): This function is used to display the last few rows of the DataFrame. It is useful for quickly inspecting the data.

Ex :  df = pd.read_csv('data.csv')
      df.tail()

    
3. describe(): This function is used to generate descriptive statistics of the DataFrame. 
It provides information such as the count, mean, standard deviation, minimum, and maximum values.

Ex : df = pd.read_csv('data.csv')
     df.describe()
    
4. sort_values(): This function is used to sort the DataFrame by one or more columns. 
It can be used to sort the data in ascending or descending order.

Ex : df = pd.read_csv('data.csv')
     df_sorted = df.sort_values(by='age', ascending=False)
    
5. groupby(): This function is used to group the DataFrame by one or more columns.
It can be used to perform operations on the groups separately.

Ex : df = pd.read_csv('data.csv')
     grouped = df.groupby('gender')
     mean_age_by_gender = grouped['age'].mean()

Q6 . Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In Pandas, both Series and DataFrame are mutable in nature. 
This means that you can modify the contents of a Series or DataFrame after it has been created.

Ex : import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3])

# Modify an element of the Series
s[1] = 4

# Add a new element to the Series
s[3] = 5


Similarly, you can add new columns to a DataFrame or modify existing columns using indexing and assignment:
    
    
    # Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Modify a column of the DataFrame
df['B'] = [7, 8, 9]

# Add a new column to the DataFrame
df['C'] = [10, 11, 12]

#Q7 . Create a DataFrame using multiple Series. Explain with an example.

In [24]:
name = pd.Series (["Alice","Bob","Claire"])
age = pd.Series([25,30,27])
gender = pd.Series(["Female","Male","female"])

In [25]:
df = pd.DataFrame({"Name":name , "Age":age , "Gender":gender})

In [26]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  female